.navbar-custom{
  background: rgb(145,25,255);
}

.navbar-toggler, #disclaimer{
  border-color:rgb(255,255,255);
  color:rgb(255,255,255);
}

.footer, #footer-color{
    background: rgb(0,124,100);
}

a:hover{
  text-decoration: none;
}

header{
	margin-bottom:200px;
}
